# PUBLIC .envrc file
#
# This file contains information that is not secret. It includes the private 
# .envrc file as well as the global (in case you have one). 

# Source global .envrc in home folder. 
# Contains environment variables that should be loaded in every directory.
[[ -f ~/.envrc ]] && source ~/.envrc

# Source private .envrc.private in project folder.
# This file is not checked into GIT since it contains sensitive information 
# that should not be public.
[[ -f ../.envrc.private ]] && source ../.envrc.private